$main_color: #006fee;
$main_color_hover: #0153b1;
$color_white: #ffffff;
$color_white_hover:#e9e9e9;
$color_black: #000000;
$color_gray-500: #4E545B;
$color_gray-600: #363B40;
$color_danger: #F82A31;

@mixin flex_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin heading-4 {
    font-size: 28px;
    font-weight: 500;
    color: $color_gray-500;
    padding: 10px 20px;
}