//Variables
$line_color: #E7ECF0;



//PageNews
.pageNews {
	padding: 10px 20px;
	display: flex;
	flex-direction: column;
}

header {
	@include heading-4
}

//NewsItem
.container__item {
	display: flex;
	align-items: center;
	margin: 0px 20px;
	padding: 15px 0px;
	gap: 20px;
	border-bottom: 1px solid $line_color;

	.left__item {
		text-align: center;
		width: 200px;
		display: flex;
		flex-direction: column;

		.time__month {
			padding: 10px 20px;
			background-color: $main_color;
			color: $color_white;
			font-weight: bold;
			min-width: 150px;
		}

		.time__day {
			padding: 10px;
			font-weight: bold;
			font-size: 30px;
		}
	}

	.right__item {
		display: flex;
		flex-direction: column;
		gap: 10px;


		.uppercase {
			text-transform: uppercase;
		}

		.news__title {
			display: flex;
			align-items: center;
			gap: 10px;

			&-text {
				font-weight: bold;
				font-size: 26px;
				color: $main_color;
			}

			&-status {
				background-color: $color_danger;
				color: $color_white;
				border-radius: 100%;
				font-weight: bold;
				padding: 5px 10px;
				font-size: 12px;
			}

		}

		.news__description {
			text-align: justify;
			font-size: 16px;
			color: $color_gray-600;
			font-weight: 400;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			overflow: hidden;

		}

		.news__more {
			color: $color_danger;
		}
	}
}