@import "@mixin_variable.scss";

* {
    box-sizing: border-box;
    font-family: -apple-system, Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: $color_white;
}

a {
    text-decoration: none
}

.heading-4 {
    font-size: 25px;
    font-weight: 500;
    color: $color_gray-500;
    padding: 10px 20px;
}


@import "component";
@import "pages";
@import "pageHome";
@import "pageNews";

@import "@media/@mediaComponentLogin.scss";

.text-danger {
    color: $color_danger !important;
}